# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# env files
.env
.env*.local

# database
db/*.db
db/*.db-journal

# IDE
.vscode/
.idea/

# temp & internal
scripts/
tool-results/
tmp/
skills/
upload/
download/
examples/
mini-services/
tests/
.zscripts/
Caddyfile
template-ref.json
bun.lock
worklog.md

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts